.pokeInsert {
   display: flex;
   height: 40px;
   background-color: #ccfccb;
}

.pokeInsert input {
   background-color: #f1f1f1;
   outline: none;
   border: none;
   padding: 0.5rem;
   font-size: 1.125rem;
   line-height: 1.5;
   color: #797c80;
   flex: 1;
}

.pokeInsert input::placeholder {
   color: #797c80;
}

.pokeInsert button {
   outline: none;
   border: none;
   background: #959799;
   color: white;
   padding-left: 1rem;
   padding-right: 1rem;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: background 0.1s ease-in;
}
