.pokeMain {
   margin: 0 auto;
   width: 720px;
}

.pokeMainTitle {
   height: 80px;
   line-height: 80px;
   text-align: center;
   background-color: #b5c18e;
}
.pokeMainTitle h2 {
   color: #363636;
   margin: 0;
}
